<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flyscale.citmode">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.flyscale.citmode.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".CitReceiver">
            <!--优先级的设定 MyReceiver2大于MyReceiver1，优先级的范围-1000~1000,值越大优先级越高-->
            <intent-filter android:priority="1000">
                <action android:name="com.flyscale.send.action.KEYCODE" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data
                    android:host="9125"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>
        <provider
            android:authorities="com.flyscale.cit.provider"
            android:name=".CitProvider"
            android:exported="true"/>
    </application>

</manifest>